body {
}

.sectionTitle {
}

.section {
    float: left;
}

.subSection {
}

.points {
}

.line {
}

.innerLinesContainer {
}

.innerLine {
}

.distanceContainer {
}

.pointsContainer {
}

footer {
    position: fixed;
    bottom: 5px;
    right: 5px;

    font-size: 20px;
    font-weight: bold;
    color: gray;
}

/* ---- COLORS ---- */

.color-0 {
}

.color-0-0 {
}

.color-0-1 {
}

.color-1 {
}

.color-1-0 {
}

.color-1-1 {
}

/* ---- TEXT STYLING ---- */

.fromDistance {
}

.toDistance {

}

.startMIL {
}

.endMIL {

}
